<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Log</title>
</head>
<body>
    <h1><%= log.date.toLocaleDateString("en-US", { weekday: "long", month: "short", day: "2-digit", year: "numeric" })%>'s Entry</h1>
    <button><a href="/symptomTracker/<%=log._id %>/edit">Edit Log</a></button>
    <form action="/symptomTracker/<%=log._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Log">
    </form>
    <button><a href="/symptomTracker">Dashboard</a></button>
    <% console.log(log)%>
    <ul>
        <li><%= log.dayRating %></li>
        <li><%= log.painLvl %></li>
        <li><%= log.fatigueLvl %></li>
        <li><%= log.cupsWater %></li>
        <li><%= log.sleepHrs %></li>
        <li><%= log.outsideTime %></li>
        <li><%= log.meds %></li>
        <li><%= log.mood %></li>
        <li><%= log.stretch %></li>
        <li>Food Log: </li>
        <ul>
            <li>Breakfast: <%= log.foodLog[0].breakfast %></li>
            <li>Lunch: <%= log.foodLog[0].lunch %></li>
            <li>Dinner: <%= log.foodLog[0].dinner %></li>
            <li>Snacks: <%= log.foodLog[0].snacks %></li>
        </ul>
        <li><%= log.dayNotes %></li>
    </ul>
</body>
</html>