<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Log</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1><%= log.date.toLocaleDateString("en-US", { weekday: "long", month: "short", day: "2-digit", year: "numeric" })%>'s Entry</h1>
    <button><a href="/symptomTracker/<%=log._id %>/edit">Edit Log</a></button>
    <form action="/symptomTracker/<%=log._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Log">
    </form>
    <ul>
        <li><h4>Overall Day Rating (1-10):</h4><%= log.dayRating %></li>
        <li><h4>Pain Level (1-10):</h4><%= log.painLvl %></li>
        <li><h4>Fatigue Level (1-10):</h4><%= log.fatigueLvl %></li>
        <li><h4>Glasses of Water:</h4><%= log.cupsWater %></li>
        <li><h4>Hours of Sleep:</h4><%= log.sleepHrs %></li>
        <li><h4>Time Spent Outside (minutes):</h4><%= log.outsideTime %></li>
        <li><h4>Meds Taken:</h4><%= log.meds %></li>
        <li><h4>Today's Mood:</h4><%= log.mood %></li>
        <li><h4>Did you stretch?</h4><%= log.stretch %></li>
        <li><h4>Food Log:</h4></li>
        <ul>
            <li>Breakfast: <%= log.foodLog[0].breakfast %></li>
            <li>Lunch: <%= log.foodLog[0].lunch %></li>
            <li>Dinner: <%= log.foodLog[0].dinner %></li>
            <li>Snacks: <%= log.foodLog[0].snacks %></li>
        </ul>
        <li><h4>Day Notes:</h4><%= log.dayNotes %></li>
    </ul>
</body>
</html>